<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/eui.min.css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.16.4/dist/tagify.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/workflow-ui/default.css">
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.16.4"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify@4.16.4/dist/tagify.polyfills.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"
        defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous" defer></script>
    <script language="javascript" id="_fed_an_ua_tag"
        src="https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=NASA&subagency=GSFC&dclink=true"
        defer></script>
    <script language="javascript" type="module" src="../../../js/workflow-ui/job/index.js" async></script>
    <title>Harmony</title>
</head>

<body class="d-flex flex-column h-100">
    {{> workflow-ui/toasts}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-lg">
            <a class="navbar-brand nasa" href="/">Earthdata Harmony</a>
        </div>
    </nav>
    <nav class="ml-0 pl-0"
        style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <div class="breadcrumb  d-flex flex-row justify-content-between">
            <ol class="breadcrumb p-0 m-0">
                <li class="breadcrumb-item"><a href="{{{jobsLink}}}">Jobs</a></li>
                {{#isAdminRoute}}
                <li class="breadcrumb-item active" aria-current="page">{{job.jobID}} (<a href="/admin/jobs/{{job.jobID}}">Job Status</a>)</li>
                {{/isAdminRoute}}
                {{^isAdminRoute}}
                <li class="breadcrumb-item active" aria-current="page">{{job.jobID}} (<a href="/jobs/{{job.jobID}}">Job Status</a>)</li>
                {{/isAdminRoute}}
            </ol>
            <ul id="job-state-links-container" class="nav" data-is-admin-or-owner="{{isAdminOrOwner}}">
                <!-- job state change links will go here -->
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row pb-4">
            <div class="col-2">
                <form id="work-items-query-form" action="./{{job.jobID}}" method="get" class="pt-2">
                    <input type="hidden" name="jobID" value="{{job.jobID}}" />
                    <input type="hidden" name="currentPage" value="{{page}}" />
                    <input type="hidden" name="page" value="1" />
                    {{> workflow-ui/date-time-picker}}
                    <input name="tableFilter" class="form-control table-filter mb-2" placeholder="add a filter"
                        data-value="{{selectedFilters}}" data-is-admin-route="{{isAdminRoute}}">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="disallowStatus" {{disallowStatusChecked}}>
                        <label class="form-check-label" for="disallowStatus">
                            negate statuses
                        </label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="disallowMessageCategory" {{disallowMessageCategoryChecked}}>
                        <label class="form-check-label" for="disallowMessageCategory">
                            negate message categories
                        </label>
                    </div>
                    <div class="input-group mt-2">
                      <span class="input-group-text">page size</span>
                      <input name="limit" type="number" class="form-control" value="{{limit}}">
                    </div>
                    <button type="submit" class="btn btn-primary btn-sm mt-3"><i class="bi bi-filter-circle"></i>
                        apply</button>
                </form>
            </div>
            <div class="col-10" id="workflow-items-table-container">

            </div>
        </div>
    </div>
    <footer class="mt-auto">
        <div class="container-lg">
            <div class="row pt-1">
                <div class="col-md-8">
                    <ul class="list-inline">
                        <li class="list-inline-item">NASA Official: Doug Newman</li>
                        <li class="list-inline-item"><a href="http://www.nasa.gov/FOIA/index.html">FOIA</a></li>
                        <li class="list-inline-item"><a href="http://www.nasa.gov/about/highlights/HP_Privacy.html">NASA
                                Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="http://www.usa.gov/">USA.gov</a></li>
                        <li class="list-inline-item"><a href="#" onclick="javascript:feedback.showForm();">Feedback</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <p class="text-right"><a href="/versions"><span class="badge bg-dark">v {{version}}</span></a></p>
                </div>
            </div>
        </div>
    </footer>
    <script type="text/javascript" src="https://fbm.earthdata.nasa.gov/for/Harmony/feedback.js"></script>
    <script type="text/javascript">feedback.init({ showIcon: false });</script>
</body>

</html>