<footer>
  <div class="container-lg">
      <div class="row pt-3">
          <div class="col-md-8">
              <ul class="list-inline">
                  <li class="list-inline-item">NASA Official: Stephen Berrick</li>
                  <li class="list-inline-item"><a href="http://www.nasa.gov/FOIA/index.html">FOIA</a></li>
                  <li class="list-inline-item"><a href="http://www.nasa.gov/about/highlights/HP_Privacy.html">NASA Privacy Policy</a></li>
                  <li class="list-inline-item"><a href="http://www.usa.gov/">USA.gov</a></li>
                  <li class="list-inline-item"><a href="#" onclick="javascript:feedback.showForm();">Feedback</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <p class="text-right"><a href="/versions"><span class="badge bg-dark">v {{version}}</span></a></p>
          </div>
      </div>
  </div>
</footer>
<script type="text/javascript" src="https://status.earthdata.nasa.gov/assets/banner_widget.js"></script>
<script type="text/javascript" src="https://fbm.earthdata.nasa.gov/for/Harmony/feedback.js"></script>
<script type="text/javascript">feedback.init({showIcon: false});</script>