# package directories
node_modules

# Serverless directories
.serverless

# Temp and log files
*.log
tmp
temp
.DS_Store
.nyc_output
coverage
logs
test-results.xml

.env*
.vscode
.ipynb*
__pycache__
built

# Dev and test databases
db/*.sqlite3
db/*-journal

# Quokka repl/playground
playground.ts

# pyenv configuration
workload/.python-version

.idea
.dccache
