# package directories
node_modules

# Serverless directories
.serverless

# Temp and log files
*.log
tmp
.DS_Store
.nyc_output
coverage
logs
test-results.xml

.env
.vscode
.ipynb*
__pycache__

# Dev and test databases
db/*.sqlite3

# Quokka repl/playground
playground.js
