.table-filter {
    --tag-inset-shadow-size: 2em;
}

.helpful-th, .helpful-span {
    cursor: help;
}

body {
    height: fit-content;
}

.content {
    min-height: calc(100vh - 194px);
}

.t-40 {
    top: 40px;
}

.t-0 {
    top: 0px;
}