.table-filter {
    --tag-inset-shadow-size: 2em;
}

.helpful-th, .helpful-span {
    cursor: help;
}

#workflow-items-table-container, #jobs-table-container {
    overflow-y: scroll;
    max-height: 80vh;
}

.sticky-paging {
    position: sticky;
    bottom: -1px;
}

#request-td {
    max-width: 40ch;
    word-break: break-all;
}

#message-td {
    max-width: 40ch;
    word-break: break-word;
}

.copy-btn {
    opacity: 0;
    transition: opacity 0.3s ease;
}

th:hover .copy-btn {
    opacity: 1;
}

.bi-clipboard {
    cursor: pointer;
}