<tr id="job-{{jobID}}" class='job-table-row' data-status="{{status}}">
    <td>{{{jobSelectBox}}}</td>
    <th scope="row"><a href="workflow-ui/{{jobID}}{{jobLinkQuery}}">{{jobID}}</a></th>
    <td>{{service_name}}</td>
    {{#isAdminRoute}}
    <td>{{username}}</td>
    {{/isAdminRoute}}
    <td><span class="badge rounded-pill bg-{{jobBadge}}">{{status}}</span></td>
    <td id="message-td" title="{{message}}">{{jobMessage}}</td>
    <td>{{numInputGranules}}</td>
    <td>{{progress}}%</td>
    <td class="date-td" data-time="{{jobCreatedAt}}"></td>
    <td class="date-td" data-time="{{jobUpdatedAt}}"></td>
</tr>
<th id="copy-{{jobID}}" class="job-url-th" colspan="12">
    {{> workflow-ui/request-preview}}
</th>