<div id="job-alert" class="alert alert-{{statusClass}}" role="alert">
    {{job.message}}
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">stepIndex</th>
            <th scope="col">stepName</th>
            <th scope="col">id</th>
            <th scope="col">status</th>
            <th scope="col">logs</th>
            <th scope="col">retry</th>
            <th scope="col">retryCount</th>
            <th scope="col">createdAt</th>
            <th scope="col">updatedAt</th>
        </tr>
    </thead>
    <tbody>
        {{#workItems}}
        <tr class="work-item-table-row">
            <th scope="row">{{workflowStepIndex}}</th>
            <td>{{workflowItemStep}}</td>
            <td>{{id}}</td>
            <td><span class="badge bg-{{workflowItemBadge}}">{{status}}</span></td>
            <td>{{{workflowItemLogsButton}}}</td>
            <td>{{{workflowItemRetryButton}}}</td>
            <td>{{{retryCount}}}</td>
            <td class="date-td" data-time="{{workflowItemCreatedAt}}"></td>
            <td class="date-td" data-time="{{workflowItemUpdatedAt}}"></td>
        </tr>
        {{/workItems}}
    </tbody>
</table>
<nav aria-label="Page navigation" class="d-flex flex-column align-items-center">
    <ul class="pagination px-0 mx-auto">
        {{#links}}
        <li class="page-item {{linkDisabled}}">
            <a class="page-link" href="{{linkHref}}" title="{{linkTitle}}">{{linkTitle}}</a>
        </li>
        {{/links}}
    </ul>
</nav>