<div id="job-alert" class="alert alert-{{statusClass}}" role="alert">
    {{job.message}}
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">stepIndex</th>
            <th scope="col">stepName</th>
            <th scope="col">id</th>
            <th scope="col">status</th>
            {{#isAdmin}}
            <th scope="col">s3logs <i class="bi bi-info-circle" title="An aggregate view of the worker container logs for all invocations of the service, stored in s3."></i></th>
            {{/isAdmin}}
            {{#isAdmin}}
            <th scope="col">podLogs</th>
            {{/isAdmin}}
            {{#canShowRetryColumn}}
            <th scope="col">retry</th>
            {{/canShowRetryColumn}}
            <th scope="col">retryCount</th>
            <th scope="col">createdAt</th>
            <th scope="col">updatedAt</th>
        </tr>
    </thead>
    <tbody>
        {{#workItems}}
            {{> workflow-ui/job/work-item-table-row }}
        {{/workItems}}
    </tbody>
</table>
<nav aria-label="Page navigation" class="d-flex flex-column align-items-center">
    <ul class="pagination px-0 mx-auto">
        {{#links}}
        <li class="page-item {{linkDisabled}}">
            <a class="page-link" href="{{linkHref}}" title="{{linkTitle}}">{{linkTitle}}</a>
        </li>
        {{/links}}
    </ul>
</nav>