<table class="table table-sm">
    <thead class="sticky-top bg-white">
        <tr class="align-middle">
            <th scope="col">jobID</th>
            <th scope="col">service</th>
            {{#isAdminRoute}}
            <th scope="col">user</th>
            {{/isAdminRoute}}
            <th scope="col">status</th>
            <th scope="col">message</th>
            <th scope="col">
                <div class="d-flex flex-row align-items-center">
                    <div>granules</div>&nbsp;
                    <div class="d-flex flex-column">
                        {{{sortGranulesLinks}}}
                    </div>
                </div>
            </th>
            <th scope="col">progress</th>
            <th scope="col">createdAt</th>
            <th scope="col">updatedAt</th>
        </tr>
    </thead>
    <tbody>
        {{#jobs}}
        <tr class='job-table-row' style="border-bottom-color: white;">
            <th scope="row"><a href="workflow-ui/{{jobID}}{{dateQuery}}">{{jobID}}</a></th>
            <td>{{service_name}}</td>
            {{#isAdminRoute}}
            <td>{{username}}</td>
            {{/isAdminRoute}}
            <td><span class="badge bg-{{jobBadge}}">{{status}}</span></td>
            <td id="message-td"><span><i title="{{message}}" data-bs-toggle="tooltip"
                        class="bi-eye"></i>&nbsp;{{jobMessage}}</span></td>
            <td>{{numInputGranules}}</td>
            <td>{{progress}}%</td>
            <td class="date-td" data-time="{{jobCreatedAt}}"></td>
            <td class="date-td" data-time="{{jobUpdatedAt}}"></td>
        </tr>
        <th colspan="9" style="background-color: rgb(252, 251, 251); border-top-color:white; padding-bottom: .3rem;">
            <i class="bi-clipboard"></i> <i class="bi-eye" title="{{request}}" data-bs-toggle="tooltip"></i> &nbsp;
            <small class="text-muted" style="font-weight: normal; max-width: 100%;">{{jobUrl}}</small>
        </th>
        {{/jobs}}
    </tbody>
</table>