<div class="dropdown show" id="job-status-dropdown">
    status
    <a href="#" role="button" data-toggle="dropdown"> ∇
    </a>
    <div class="dropdown-menu">
        <div class="px-4 py-3">
            <div class="form-row mb-2">
                <select multiple id="job-status" class="form-control" name="status">
                    {{#jobStatuses}}
                    <option value="{{.}}" {{#statusSelected}}{{.}}{{/statusSelected}}>
                        {{.}}
                    </option>
                    {{/jobStatuses}}
                </select>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="disallowStatus" {{disallowStatusChecked}}>
                    <label class="form-check-label" for="disallowStatus">
                        disallow
                    </label>
                </div>
            </div>
            <div class="form-row">
                <button type="submit" id="apply-job-status" class="btn btn-light btn-sm">apply</button>
            </div>
        </div>
    </div>
</div>