<nav aria-label="Page navigation" class="bg-white d-flex flex-column align-items-center py-2 sticky-paging">
    <ul class="pagination px-0 mx-auto mb-1">
        {{#links}}
        <li class="page-item {{linkDisabled}}">
            <a class="page-link" href="{{linkHref}}" title="{{linkTitle}}">{{linkTitle}}</a>
        </li>
        {{/links}}
    </ul>
    <small class="text-muted">
        {{paginationInfo.from}}-{{paginationInfo.to}} of {{paginationInfo.total}} (p. {{paginationInfo.currentPage}} of {{paginationInfo.lastPage}})
    </small>
</nav>