<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container px-2 py-2">
      <div id="upper-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            <!-- toast text -->
         </div>
        </div>
      </div>
      <div id="lower-toast" class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
            <!-- toast text -->
         </div>
        </div>
      </div>
    </div>
  </div>