<!-- <table class="table table-sm">
  <thead>
      <tr class="align-middle">
          <th scope="col">Variable Subset</th>
          <th scope="col">Bounding Box Subset</th>
          <th scope="col">Shapefile Subset</th>
          <th scope="col">Concatenate</th>
          <th scope="col">Reproject</th>
      </tr>
  </thead>
  <tbody>
      {{#capabilities}}
      <tr clas='job-table-row'>
          <td>{{variableSubset}}</td>
          <td>{{bboxSubset}}</td>
          <td>{{shapefileSubset}}</td>
          <td>{{concatenate}}</td>
          <td>{{reproject}}</td>
      </tr>
      {{/capabilities}}
  </tbody>
</table> -->

<table class="table table-sm">
  {{#capabilities}}
  <thead>
      <tr class="align middle">
          <th scope="col">{{conceptId}}</th>
      </tr>
      <tr class="align-middle">
          <th scope="col">{{shortName}} capabilities</th>
          <th scope="col"></th>
      </tr>
  </thead>
  <tbody>
      <tr clas='job-table-row'>
          <th scope="row">Variable Subset</th>
          <td>{{variableSubset}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Bounding Box Subset</th>
        <td>{{bboxSubset}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Shape Subset</th>
        <td>{{shapefileSubset}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Concatenate</th>
        <td>{{concatenate}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Reproject</th>
        <td>{{reproject}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Output Formats</th>
        <td>{{outputFormats}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Services</th>
        <td>{{services}}</td>
      </tr>
      <tr clas='job-table-row'>
        <th scope="row">Variables</th>
        <td>{{variables}}</td>
      </tr>
  </tbody>
  {{/capabilities}}
</table>