<div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute px-2 py-3">
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          
         </div>
        </div>
      </div>
      <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
          <div class="toast-body">
          
         </div>
        </div>
      </div>
    </div>
  </div>