<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">workflowStepIndex</th>
            <th scope="col">workflowStepName</th>
            <th scope="col">id</th>
            <th scope="col">status</th>
            <th scope="col">createdAt</th>
            <th scope="col">updatedAt</th>
        </tr>
    </thead>
    <tbody>
        {{#workItems}}
        <tr>
            <th scope="row">{{workflowStepIndex}}</th>
            <td><small><code>{{workflowItemStep}}</code></small></td>
            <td>{{id}}</td>
            <td><span class="badge bg-{{workflowItemBadge}}">{{status}}</span></td>
            <td>{{workflowItemCreated}}</td>
            <td>{{workflowItemUpdated}}</td>
        </tr>
        {{/workItems}}
    </tbody>
</table>
<nav aria-label="Page navigation" class="d-flex flex-column align-items-center">
    <ul class="pagination px-0 mx-auto">
        {{#links}}
        <li class="page-item {{linkDisabled}}">
            <a class="page-link" href="{{linkHref}}" title="{{linkTitle}}">{{linkTitle}}</a>
        </li>
        {{/links}}
    </ul>
</nav>