name: Compare services

on: [pull_request]

jobs:
  compare-services:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "18.x"

      - name: Install dependencies
        run: pnpm i

      - name: Run service compare script
        run: SHARED_SECRET_KEY=foo pnpm compare-services
