name: Publish to DockerHub

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
  release:
    types:
       - published

env:
  DOCKER_USER: bilts

jobs:
  push:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }} # checkout the commit for the tag

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.x

      - name: Log into registry
        run: echo "${{ secrets.DOCKERHUB }}" | docker login -u "${DOCKER_USER}" --password-stdin

      - name: Install npm Packages
        run: |
          npm install

      - name: Build and publish multi-arch images
        run: |
          # For tagged versions, translate e.g. "refs/tags/v1.2.3" -> "1.2.3"
          VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && VERSION=$(echo $VERSION | sed -e 's/^v//')

          # For the main branch, use "latest" as the version
          [ "${VERSION}" == "main" ] && VERSION=latest
          [ "${VERSION}" == "harmony-412" ] && VERSION=latest

          # build and publish images for all services
          VERSION="${VERSION}" lerna run build-multi
